.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    margin-bottom: 20px;
}

@media screen and (max-width: 715px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
    }
}