.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.output {
    margin-left: .2em;
    font-weight: 900;
    font-size: 1.2em;
    color: #373737;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
}

.coin {
    margin-top: 1px;
    width: 24px;
    height: 24px;
}

.box:hover
.coin {
    animation: spin .7s linear infinite;
    transform-origin: 50% 50%;
}
.box:hover .output {
    font-size: 1.3em;
    padding: 5px 5px 5px 5px;
    transition: 0.3s ease-in-out;
}

@keyframes spin{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}