.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.output {
    margin-left: .5em;
    font-weight: 600;
    font-size: 1.2em;
    color: #ffd900;
}

.box:hover {
    text-decoration: underline;
    color: #ffd900;
    /* background-color:#ffd900; */
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
