.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

body {
    background-color: #242424;
    color: #fff;
}

.heading {
    margin-right: 10px;
}

.setBtn {
    display: flex;
    color: #dc3545;
}

.setBtn:hover {
    text-decoration: underline; 
    color: #dc3545;
    cursor: pointer;
    font-weight: 600;
}

.setBtn p {
    margin: 0px 0px 0px 3px;
}