.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

body {
    background-color: #242424;
    color: #fff;
}

.heading {
    margin-right: 10px;
}

.setBtn {
    justify-self: flex-end;
}